body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #ffe6f2;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

#scene-container {
    width: 300px;
    height: 300px;
    position: relative;
}

.buttons {
    margin-top: 20px;
}

button {
    padding: 10px 15px;
    border: none;
    background-color: #ff6699;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    margin: 5px;
}

button:hover {
    background-color: #ff3366;
}
